<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="ConfigurationFile" value="C:\MSMQListner\MSMQListnerService.xml" />
    <add key="Smtp" value="FALLBACK SMTP SERVER"/> <!-- This is fallback smtp server. it will be used in case MSMQListner service is going down.-->
    <add key="ErrorEmails" value="noreply@yourdomain.com"/>
    <add key="ErrorSubject" value="MSMQListner service is stopped"/>
  </appSettings>
</configuration>